.trait-user{
  font-size:32px;
  color:green; 
  font-weight:"bolder";
}

.trait-group{
  font-size:32px;
  color:red; 
  font-weight:"bolder";
}

.blue-box{
  border: lightblue 2px solid;
  border-radius: 5px;
  padding: 15px;
}

.legend-desc{
  line-height:12px;
  font-size:16px;
  display:flex;
  align-items:center;
  justify-content:end;
  padding:3px;
}

.footer {
  margin-top: auto;
}

.container {
  min-height: 80vh;
}

.cancelBtn{
  background-color: white;
  color:red;
}